AddType application/x-httpd-php .inc
DirectoryIndex index.html index.htm index.html.var index.php
<Files "*.inc">
    Order allow,deny
    Deny from all
</Files>

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

<IfModule mod_php5.c>
  php_value short_open_tag 1
</IfModule>

Options +Includes -Indexes
